/*
  Utilidades
*/

.w-50 {
  width: 50px;
}

.text-upper {
  text-transform: uppercase;
}

.bg-white {
  background-color: #fff !important;
}

.text-white {
  color: #fff !important;
}

.p-2 {
  padding: 10px;
}

.p-1 {
  padding: 5px;
}

.fs-16 {
  font-size: 14px;
}

.fs-14 {
  font-size: 12px;
}

.fs-18 {
  font-size: 16px;
}

.fs-22 {
  font-size: 20px;
}


// text-align
@each $direction in ('center', 'left', 'right') {
  .text-#{$direction} {
    text-align: #{$direction} !important;
  }
}