$color-1: #fd2236;
$color-2: #dd2331;
$color-3: #b2b2b2;
$color-4: #dfdfdf;
$color-5: #fff;

$border-width: 8px;
$border-color: $color-3;
$border-space: 8px;
$border-style: solid;

$colors: ($color-1, $color-2, $color-3, $color-4, $color-5);

// background-colors e text-colors
@for $i from 1 through length($colors) {
  .bg-color-#{$i} {
    background-color: nth($colors, $i);
  }

  .text-color-#{$i} {
    color: nth($colors, $i);
  }
}

.link-padrao {
  color: #000;
  text-decoration: none;
}

a, a:hover, a:focus, a:visited {
  @extend .link-padrao;
}


.btn {
    padding: 10px 14px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $color-2;
    color: #FFF;
    white-space: nowrap;
    @extend .font-regular;
}

.line-footer {
  display: block;
  height: 5px;
  width: 100%;
  background-color: $color-2;
  margin-top: 8px;
}

.hidden-max {
  overflow: hidden;
  max-height: 293px;
}

.divider {
  height: 25px;
}

table {
  width: 100%;
  border: 0;
}

.table-main {
  background-color: #ffffff;
  width: 600px;
}

.header-logotipo {
  padding: 10px;
}

.text-destaque {
  font-size: 20px;
  vertical-align: bottom;
  text-align: center;
  @extend .text-upper;
  @extend .font-black-italic;
}

.font-destaque-1 {
  @extend .text-destaque;
  font-size: 30px;
  margin: 5px 0;
}

.foto {
  margin: 10px 0;
}

.box {

  .box-destaque {
    @extend .text-destaque;
  }
  
  .box-destaque-2 {
    @extend .text-destaque;
    font-size: 16px;
  }
  
  .bg-foto-principal {
    background-repeat: no-repeat repeat-y;
    background-position: center top;
    background-size: 100%;
    height: 220px;
    vertical-align: bottom;

    .news-2018-agosto & {
      height: 380px;
    }
  }
  
  &.box-secondary .foto-destaque img {
    width: 254px;
    height: 390px;
  }

  .box-texto {
    padding: 10px;
    font-size: 15px;
    @extend .font-regular;
  }

  .box-space {
    width: $border-space;
  }

  .box-space-border {
    width: ($border-space + $border-width);
  }

  .width-border {
    width: $border-width;
  }

  .box-border {
    &.border-bottom {
      @include border('bottom', $border-width, $border-style, $border-color);
    }

    &.border-top {
      @include border('top', $border-width, $border-style, $border-color);
    }

    &.border-right {
      @include border('right', $border-width, $border-style, $border-color);
    }

    &.border-left {
      @include border('left', $border-width, $border-style, $border-color);
    }
  }

  .box-border-all {
    border-width: $border-width;
    border-style: $border-style;
    border-color: $border-color;
  }

  &.box-50-50 {
    .box-container {
      width: 285px;
    }
  }
}

.box.box-presidente {
  .box-destaque {
    font-size: 12px;
    font-weight: normal;
    @extend .font-extra-light;
  }

  .box-texto {
    font-size: 16px;
  }
}

.box-editora {
  .box-border-all {
    border-color: black;
  }

  .logo-editora {
    width: 150px;
    text-align: center;

    img {
      width: 70px;
      height: 114px;
    }
  }

  .text-editora {
    .txt-1 {
      font-size: 40px;
      font-weight: bold;
      margin: 0;
      @extend .font-black-italic;
    }
    
    .txt-2 {
      font-size: 25px;
      font-weight: normal;
      margin: 0;
      @extend .font-italic;
    }
  }
  
  a, a:hover, a:focus, a:visited {
    @extend .link-padrao;
  }
}

.box-chamada-vermelho {
  .box-texto {
    background-color: #fd2236;
    color: #ffffff;
  }
}

.box-proximos-eventos {
  td {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .txt {
    text-align: right;
    text-transform: uppercase;
    font-size: 16px;
    @extend .font-black-italic;
  }

  a, a:hover, a:focus, a:visited {
    @extend .link-padrao;
  }
}

.social-medias {
  width: auto;

  td {
    padding: 20px 5px;
  }
}

.box-foto-horizontal {
  .box-destaque-2 {
    padding-bottom: 0;
  }

  .box-texto  {
    padding-top: 0;
  }
}


.box-50-50-responsive {
  display: none;
}

@media screen and (min-width: 651px) {
  .table-desktop-none {
    display: none;
  }
}


@media screen and (max-width: 650px) {
  .table-main {
    width: 100% !important;
  }

  .box.box-presidente {
    .foto {
      width: 50%;
      max-width: 266px;
      text-align: left;

      img {
        margin: 0;
        width: 100%;
      }
    }
  }

  .box .bg-foto-principal {
    height: 180px;
  }
  
  .hidden-max {
    overflow: visible;
    max-height: none;
  }

  .group-box-50-50 {
    display: none;
  } 

  .box-50-50-responsive {
    display: table !important;
  }

  .table-mobile-none {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .box.box-foto-lado {
    .foto-destaque {
      background: $border-color !important;
      width: $border-width !important;
      
      img {
        display: none !important;
      }
    }
  }
}

@media screen and (max-width: 500px) {    
  .box.box-presidente {
    .foto, .box-texto {
      display: block !important;
      margin: 0 !important;
    }

    .foto {
      width: 100% !important;
      max-width: none !important;
      text-align: center !important;

      img {
        margin: 0 auto !important;
      }
    }
  }

  .border-right ~ .border-right {
    padding: 0 !important;
    width: 0 !important;
  }
  
  .box .bg-foto-principal {
    height: 150px !important;
    
    .news-2018-agosto & {
      height: 280px !important;
    }
  }
}


@media screen and (max-width: 360px) {
  .box .bg-foto-principal {    
    .news-2018-agosto & {
      height: 210px !important;
    }
  }
}